/*
* Пример использования компонента кнопки
* <button class="btn btn_primary">Акцентная кнопка</button>
* <button class="btn btn_second btn_icon">Кнопка с иконкой вторичного цвета</button>
* <button class="btn btn_primary btn_icon btn_icon-arrow btn_icon-left">Кнопка с иконкой с левой стороны акцентного цвета</button>
*/

// Переменные цветов кнопок
:root {
    // Акцентная кнопка
    --btn-primary-default: #467EF3;
    --btn-primary-pressed: #3865C2;
    --btn-primary-disabled: #B5CBFA;

    // -Вторичная кнопка
    --btn-second-default: #D1DFFC;
    --btn-second-pressed: #BDC9E3;
    --btn-second-disabled: #99B8F8;
}
 
$btn-primary-default: #467EF3;
$btn-primary-pressed: #3865C2;
$btn-primary-disabled: #B5CBFA;

$btn-second-default: #D1DFFC;
$btn-second-pressed: #BDC9E3;
$btn-second-disabled: #99B8F8;

// Основной шаблон кнопки
.btn {
    width: 100%;
    height: 48px;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 9px;
    border-radius: $radius;
    transition: $tr;
}


// Hover-эффект у ссылки
.link {
    
    &:hover {
        
        @media (min-width: $min-hover) {
            color: $link-hover;
        }
    }

    &:active {
        color: $link-active;
    }
}